/*Estilos gerais*/

.bg-laranja {
    background: #ffa500;
}

.fonte_laranja {
    color: #ffa500;
}

.btn-laranja {
    border: 1px solid #ffa500;
    color: #ffa500;
    background-color: rgba(0, 0, 0, 0);
}

.btn-laranja:hover {
    background: #ffa500;
    color: #ffffff;
}


/*Header*/

.img-tamanho {
    width: 70px;
    padding: 0;
    margin: 0;
}

.fa-bars {
    color: #d9534f;
}

.fundo {
    background: url(../img/fundo.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    height: 550px;
}

.navbar-custom {
    background: rgba(41,43,44,0.8);
}

/*Sections*/

.conteudo1 {
    background: rgba(41,43,44,1);
    /*height: 520px;*/
    padding-bottom: 40px;
}

.conteudo2 {
    background: url(../img/fundo2.jpg) no-repeat center center;
    height: 500px;
    background-attachment: fixed;
    background-size: cover;
}

/*Footer*/

footer {
    height: 80px;
}

.fab {
    font-size: 15px;
}

.lizzy {
    margin-bottom: 30px;
    width: 250px;
    margin-left: 7px;
}

.textos {
    color: orange;
}

.criador {
    color:  white;
}

.criador:hover {
    color:  gray;
}

